body {
    font-family: sans-serif;
    background-image: url("http://previews.123rf.com/images/vska/vska1302/vska130200058/17854762-great-light-futuristic-computer-technology-business-background-banner-Stock-Vector.jpg");
        background-repeat: no-repeat;
        margin-top: 50px;
}

.center {
    text-align: left;
}

.text-big {
    font-size: 150%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 50px;
    width: 50px;
    
}
.header{
    background-color:grey;
    color:steelblue;
    float:none;
    padding:5px;
}
.nav{
    line-height:50px;
    background-color:#48D1CC;
    color:white;
    height:350px;
    width:110px;
    float:left;
    padding:5px;
}
.footer{
    background-color:steelblue;
    color:white;
    clear:both;
    float:inherit;
    padding:5px;
}
.section{
    width:350px;
    color:black;
    float:none;
    padding:10px;
}



