body {
    font-family: sans-serif;
    background-image: url("www.google.com/desktop/technical-support-1500x630.jpg");
        background-repeat: no-repeat;
        margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}



