body {
    font-family: sans-serif;
    background-image: url("https://www.google.co.in/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=0ahUKEwjqvP_b8vLPAhVFro8KHYhiAzMQjRwIBw&url=%2Furl%3Fsa%3Di%26rct%3Dj%26q%3D%26esrc%3Ds%26source%3Dimages%26cd%3D%26cad%3Drja%26uact%3D8%26ved%3D0ahUKEwjqvP_b8vLPAhVFro8KHYhiAzMQjRwIBw%26url%3Dhttp%253A%252F%252Fwww.truecomuk.com%252Ftechnical-support%252F%26bvm%3Dbv.136593572%2Cd.c2I%26psig%3DAFQjCNFQgFneENzkcabMDCOcvrFqbVn2XA%26ust%3D1477379622464457&bvm=bv.136593572,d.c2I&psig=AFQjCNFQgFneENzkcabMDCOcvrFqbVn2XA&ust=1477379622464457.gif");
        background-repeat: no-repeat;
        margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}


